.pb-4.px-2
    .pb-2
        button.tbut.btn.btn-success.shadow(onclick='createJob(this);' template='4Slide' sub=sub) Create Job - Full with Music
    .pb-2
        button.tbut.btn.btn-success.shadow(onclick='createJob(this);' template='4Slide-alt' sub=sub) Create Job - Alternate 2nd Slide Full with Music
    .pb-2
        button.tbut.btn.btn-info.shadow.text-white(onclick='createJob(this);' template='4Slide-short' sub=sub) Create Job - Single Loop with no Music
    .pb-2
        button.tbut.btn.btn-info.shadow.text-white(onclick='createJob(this);' template='4Slide-alt-short' sub=sub) Create Job - Single Loop Alternate 2nd Slide with no Music