extends ../../mixins/layout.pug
block main
    .d-flex.flex-column.align-items-center.shadow.mb-2.px-2.rounded-3
        .px-1.pt-2
            h1.display-4.fw-bold 
                i.fas.fa-photo-video.pe-1
                | 4 Slide Intro
        .text-center.px-2 
            p.lead.mb-4
                | An exciting 4 slide template welcoming guests and introducing your team.  Changes are saved automatically.  Click 'Create Job' to render.
                br
                br
                | Use the alternate 2nd slide job to change the 'Meet the team' text to white.  Great for slides with dark backgrounds on the right.
                br
                br
                i.far.fa-image.pe-2 
                | Slides: 1920 x 1080 | Logo: 620 x 220 (preview may look streched)
                br
                i.far.fa-hourglass.pe-2 
                | Full job: ~25min | Single Loop job: ~6min
            .px-2.pb-2
                video.rounded-3.shadow.img-fluid(src='4Slides.mp4' width='700' height='394' type='video/mp4' autoplay muted loop playsinline)
            .px-2.py-3.rounded-3.shadow.bg-light  
                h3.fw-bold.text-center 
                    i.fas.fa-cogs.pe-2
                    |  Template Settings
                .d-flex.flex-wrap.flex-row.justify-content-evenly.mb-2.gap-2
                    each val in [1,2,3,4]
                        include 4Slide-card-text
                .d-flex.flex-wrap.flex-row.justify-content-evenly.mb-2.gap-2
                    each val in [1,2,3,4]
                        include 4Slide-card-image    
        include 4Slide-job.pug
