extends base.pug
block body
    include auth
    script.
        $(()=>{getJobs('4Slide');setInterval(getJobs, 10000, '4Slide');}) 
    .container.text-center.pb-4.mb-4.shadow.pt-2
        h1.display-4.fw-bold 
            i.bi-camera-reels.pe-2
            |  4 Slide Intro
        .col-lg-10.mx-auto
            p.lead.mb-4
                | An exciting 4 slide template welcoming guests and introducing your team.  Changes are saved automatically.  Click 'Create Job' to render.
                br
                br
                | Use the alternate 2nd slide job to move the 'Meet the team' text to the left of the slide.  Great for 5+ participants on a single slide.
                br
                br
                | Slides: 1920 x 1080 | Logo: 620 x 220 (preview may look streched)
                br
                i.bi-clock-history.pe-2 
                | Full job: ~25min | Single Loop job: ~6min
        .container.text-center
            video.rounded-3.shadow-lg(src='4Slides.webm' width='700' height='394' type='video/webm' autoplay muted loop)
    .container.d-grid.justify-content-sm-center.py-3.bg-light.rounded-top.shadow
        h3.fw-bold.text-center 
            i.bi-card-list.pe-2
            |  Template Settings
        .row.justify-content-center.mb-2
            each val in [1,2]
                include 4Slide-card-text
        .row.justify-content-center.mb-2
            each val in [3,4]
                include 4Slide-card-text
    .container.d-grid.justify-content-sm-center.bg-light.rounded-bottom.shadow
        each val in [1,3]
            .row.justify-content-center.mb-3
                include 4Slide-card-image
                - val++
                include 4Slide-card-image
    .container.d-grid.mt-3.mb-2
        p#jobinfo.text-center.lead.mb-2.mt-2
        #jobbuttons.d-none.d-grid  
            button.btn.btn-success.shadow(onclick='createJob("4Slide");setTimeout(()=>{location.href="/jobs"}, 10);') Create Job - Full with Music
            br
            button.btn.btn-success.shadow(onclick='createJob("4Slidea");setTimeout(()=>{location.href="/jobs"}, 10);') Create Job - Alternate 2nd Slide Full with Music
            br
            button.btn.btn-info.shadow.text-white(onclick='createJob("4Slides");setTimeout(()=>{location.href="/jobs"}, 10);') Create Job - Single Loop with no Music
            br
            button.btn.btn-info.shadow.text-white(onclick='createJob("4Slideas");setTimeout(()=>{location.href="/jobs"}, 10);') Create Job - Single Loop Alternate 2nd Slide with no Music
    br