extends mixins/layout.pug
block main
    .d-flex.flex-column.align-items-center.shadow.mb-2.px-2.rounded-3
        div.px-1.pt-2
            h1.display-4.fw-bold.text-center 
                i.fas.fa-bomb.pe-1
            h1.display-4.fw-bold.text-center 500
        h2.font-weight-normal.lead.pb-2 Internal server error.