doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='bootstrap.css')
  link(rel='stylesheet' href='lato.css')  
  link(rel='stylesheet' href='style.css')  
  title IVCreator
body
  script(src='jquery.js')  
  nav.navbar.navbar-expand-sm.navbar-dark.bg-primary.px-2.mb-2.mt-2.mx-auto.rounded-3.shadow-lg(style='width: 800px;')
    include navbar.pug
  .d-flex.flex-column.pt-2.mx-auto(style='width: 800px;')
    block body
  footer.bg-primary.text-light.mb-2.mt-1.mx-auto.rounded-3.shadow-lg(style='width: 800px;')
    .text-center
      | Created by: Will Hughes        
  script(src='/socket.io/socket.io.js')
  script(src='node-socketio-stream.js')  
  script(src='client.js')
  script(src='popper.js')
  script(src='bootstrap.js')