extends mixins/layout.pug
block main
    .d-flex.flex-column.align-items-center.shadow.mb-2.px-2.rounded-3
        div.px-1.pt-2
            h1.display-4.fw-bold.text-center 
                i.fas.fa-film.pe-1
                |  Intro Video Creator
        if auth
            div.text-center.px-2 
                p.h4.lead
                    | Click Jobs to view the current job queue and download past jobs.  Click templates to see available templates.
                p 
                    | See 
                    a(href='help') help
                    |  for an asset template and usage information.

            center.px-2
                a.btn.btn-primary.btn-lg.me-2.mb-2(role='button' href='/jobs') 
                    i.fas.fa-tasks.pe-1
                    |  Jobs
                a.btn.btn-info.text-white.btn-lg.dropdown-toggle.mb-2(href='#' role='button' data-bs-toggle='dropdown')
                    i.fas.fa-briefcase.pe-1
                    |  Templates
                include mixins/dd-templates.pug
        else
            div.pb-2
                p.h4.lead
                    | Login to continue.
            div    
                a.btn.btn-lg.btn-info.text-white(role='button' href='/login') 
                    i.fas.fa-sign-in-alt.pe-1
                    |  Login
        div.px-2
            video.border.rounded-3.shadow-lg.img-fluid.mb-3.mt-2(src='ivcreator.mp4' type='video/mp4' autoplay muted loop playsinline)
