extends mixins/layout.pug
block script 
    script(src='jobs.js')
block main
    .d-flex.flex-column.align-items-center.shadow.mb-2.px-2.rounded-3
        div.px-1.pt-2
            h1.display-4.fw-bold 
                i.fas.fa-tasks.pe-1
                |  Jobs
        #jobspinner.text-center
                .spinner-grow.text-warning(style="width: 248px; height: 248px;" role='status' id=key + '_spin')
        include mixins/jobs-card.pug
        .pb-3.mb-3  
