extends mixins/layout.pug
block main
    .d-flex.flex-column.align-items-center.shadow.mb-2.px-2.rounded-3
        div.px-1.pt-2
            h1.display-4.fw-bold 
                i.fas.fa-tasks.pe-1
                |  Jobs
        #jobspinner.text-center
            if docs.download
                .spinner-grow.text-warning(style="width: 253px; height: 253px;" role='status' id=key + '_spin') 
            else
                .spinner-grow.text-warning(style="width: 215px; height: 215px;" role='status' id=key + '_spin')
        #job-card.jobcard
            include mixins/jobs-card.pug
        .pb-3.mb-3  
