extends mixins/layout.pug
block script 
    script(src='SS.js')
block main
    .d-flex.flex-column.align-items-center.shadow.mb-2.px-2.rounded-3
        .px-1.pt-2
            h1.display-4.fw-bold 
                i.fas.fa-photo-video.pe-1
                | Speaker Showcase
        .text-center.px-2 
            p.lead.mb-4
                | A soft template showcasing 2 guest speakers.  Changes are saved automatically.  Click 'Create Job' to render.
                br
                br
                i.far.fa-image.pe-2 
                | Slides: 1920 x 1080 | Logo: 620 x 220 (preview may look streched)
                br
                i.far.fa-hourglass.pe-2 
                | Full job: ~8min 
            .px-2.pb-2
                video.rounded-3.shadow.img-fluid(src='SS.mp4' width='700' height='394' type='video/mp4' autoplay muted loop playsinline)
            .px-2.py-3.rounded-3.shadow.bg-light  
                h3.fw-bold.text-center 
                    i.fas.fa-cogs.pe-2
                    |  Template Settings
                .d-flex.flex-wrap.flex-row.justify-content-evenly.mb-2.gap-2
                    each val in [1,3]
                        include mixins/SS-card-text
                .d-flex.flex-wrap.flex-row.justify-content-evenly.mb-2.gap-2
                    each val in [2,4]
                        include mixins/SS-card-text-lg
                .d-flex.flex-wrap.flex-row.justify-content-evenly.mb-2.gap-2
                    each val in [1,2,3,4]
                        include mixins/SS-card-image    
        include mixins/SS-job.pug
