extends mixins/layout.pug
block script 
    script(src='Welcome.js')
block main
    .d-flex.flex-column.align-items-center.shadow.mb-2.px-2.rounded-3
        .px-1.pt-2
            h1.display-4.fw-bold 
                i.fas.fa-photo-video.pe-1
                | Welcome Reel
        .text-center.px-2 
            p.lead.mb-4
                | A short welcome video reel with a custom logo. Changes are saved automatically.  Click 'Create Job' to render.
                br
                br
                i.far.fa-image.pe-2 
                | Logo: 620 x 220 (preview may look streched)
                br
                i.far.fa-hourglass.pe-2 
                | Full job: ~4min
            .px-2.pb-2
                video.rounded-3.shadow.img-fluid(src='Welcome.webm' width='700' height='394' type='video/webm' autoplay muted loop playsinline)
            .px-2.py-3.rounded-3.shadow.bg-light  
                h3.fw-bold.text-center 
                    i.fas.fa-cogs.pe-2
                    |  Template Settings
                .d-flex.flex-wrap.flex-row.justify-content-evenly.mb-2.gap-2
                    each val in [1]
                        include mixins/Welcome-card-image    
        include mixins/Welcome-job.pug
