#jobcard.flex-column.shadow.rounded-3.text-center.d-none            
    h3#jobheader.bg-danger.text-white.rounded.shadow.mb-2.py-1 #{qjobs} jobs in queue
    div.mt-4
        h4#jobstatus
            if job  
                if job.state 
                    | Job Status: #{job.state}
            else 
                | Job Status: no job                
    div
        p#jobid
            if job 
                if job.uid 
                    | Job id: [#{job.uid}]
            else 
                | Job id: [no job]
    .mb-3.px-2.mt-3
        center
            .progress.pbar
                if job
                    if job.state
                        if job.state === 'finished'
                                #progress.progress-bar.progress-bar-striped.progress-bar-animated.bg-success.w-100(role='progressbar')
                                    #progval.me-1(style='text-align: right;') complete
                        else if job.renderProgress
                            if job.renderProgress == 100
                                #progress.progress-bar.progress-bar-striped.progress-bar-animated.bg-warning.w-100(role='progressbar')
                                            #progval.me-1(style='text-align: right;') encoding
                            else if job.renderProgress
                                #progress.progress-bar.progress-bar-striped.progress-bar-animated.bg-success(role='progressbar' style='width: ' + job.renderProgress + '%;')
                                    #progval.me-1(style='text-align: right;') #{job.renderProgress}%
                else 
                    #progress.progress-bar.progress-bar-striped.progress-bar-animated.bg-warning.w-100(role='progressbar')
                        #progval.me-1(style='text-align: right;') no job
    div.pb-3.my-2
        if download 
            a#download.btn.btn-success(role='button' href='download/' + sub + '.mp4') Download